body { font-family: arial;}
main { margin:  0 auto; max-width: 400px; text-align: center; width: 100%;}
h1 { text-align: center;}

.list { text-align: left; }
.list ul { display: inline-block; list-style: none; margin-top: 30px;}
.list ul li { margin-bottom: 15px; padding: 5px; position: relative;}
.list ul li input::after { content: ""; cursor: pointer; bottom: 0; left: 0; position: absolute; right: 0; top: 0;}
.list ul li:hover { background: #eee;}
.list ul li input:checked + span { text-decoration: line-through;}