@media screen and (max-width: 700px) {

    header {
        padding: 0;
        z-index: 2;
    }

    header .boxHeader {
        background: #000;
       display: grid;
       grid-template-columns: auto auto;
    }

    header .logo {
        padding-left: 30px;
    }

    header .boxHeader nav {
        background: #000;
        display: none;
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 15px 30px;
        z-index: 1;
    }

    header .boxHeader nav a {
        display: block;
        padding: 10px 0;
    }

    header .boxHeader span {
        cursor: pointer;
        display: inline-block;
        padding-right: 30px;
    }

    header .boxHeader span:hover i {
        opacity: 1;
    }

    header .boxHeader span i {
        font-size: 22px;
        opacity: 0.8;
    }

    .botao {
        margin-top: 5px;
        width: 250px;
    }

    .owl-carousel .owl-item img {
        margin: 0 auto;
        max-height: 200px;
        width: auto;
    }
}

@media screen and (min-width: 1000px) {
    .descricao {
        width: 50%;
    }
}